.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.custom-tooltip .tippy-box {
  background-color: #f9d175; /* Change to your desired background color */
  color: #333; /* Optional: Change text color if needed */
}

.custom-tooltip .tippy-content {
  font-size: 16px; /* Adjust the font size as needed */
}

.box-sizing-border-box {
  box-sizing: border-box;
}
